extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/about.jpg", alt="About Page", class="img-fluid")
            .col-md-7
                h1 #{pageTitle}
                blockquote Cras eu laoreet ex. Fusce rhoncus ligula ut risus feugiat cursus. Sed in arcu et dolor vestibulum laoreet. Ut varius in ligula quis facilisis. Mauris in sollicitudin nisl. Donec nulla mauris, ullamcorper eget condimentum in, congue et enim. Aliquam hendrerit ligula leo, id hendrerit ex imperdiet sit amet. Nunc malesuada augue lectus, eu volutpat tellus consequat a.
                p Sed dignissim tellus nec pellentesque luctus. Nullam tempus ut metus vel laoreet. Aenean finibus auctor neque, ut eleifend quam placerat id. Sed in diam sit amet augue luctus volutpat. Praesent suscipit arcu eget justo posuere pharetra. Ut velit nisi, vestibulum ut dolor in, consectetur pharetra nibh. Praesent et est consectetur, volutpat dui a, congue orci. Sed dapibus tempor odio, lacinia iaculis nunc mattis ullamcorper. Aliquam sit amet fermentum leo. Integer imperdiet gravida nisl non sollicitudin. 
                p  Praesent et est consectetur, volutpat dui a, congue orci. Sed dapibus tempor odio, lacinia iaculis nunc mattis ullamcorper. Aliquam sit amet fermentum leo. Integer imperdiet gravida nisl non sollicitudin.
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", class="img-fluid mb-4")
                    h2.mb-4 Trust & Safety
                    p  Praesent et est consectetur, volutpat dui a, congue orci. Sed dapibus tempor odio, lacinia iaculis nunc mattis ullamcorper. Aliquam sit amet fermentum leo. Integer imperdiet gravida nisl non sollicitudin.
                .col-md-4
                    img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Destinations
                    p  Praesent et est consectetur, volutpat dui a, congue orci. Sed dapibus tempor odio, lacinia iaculis nunc mattis ullamcorper. Aliquam sit amet fermentum leo. Integer imperdiet gravida nisl non sollicitudin.
                .col-md-4
                    img(src="/img/icon_price.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Price
                    p  Praesent et est consectetur, volutpat dui a, congue orci. Sed dapibus tempor odio, lacinia iaculis nunc mattis ullamcorper. Aliquam sit amet fermentum leo. Integer imperdiet gravida nisl non sollicitudin.


